#profileWrapper{
    position: absolute;
    width: 80%;
    right: 0;
}

#pageTitle{
    text-align: center;
    text-decoration: underline;

}

#name1{
    position: relative;
    text-align: center;
    font-size: 1.7em;
    color:rgb(91, 203, 236);
    top:75px
}

#basicInformation{
    position: relative;
    display:flex;
    justify-content: space-around;
    top:125px
}

#userDetails{
    position: relative;
    width: 40%;
}

.heading{
    position: relative;
    font-size: 1.2em;
    color:grey;
    left:5%;
}

.sub-heading{
    position: relative;
    left:5%;
    font-size: 1em;
    color:rgb(77, 77, 77);
}

.input{
    position: relative;
    left: 5%;
    top:-10px;
    font-size: 1em;
    width: 60%;
    height:20px;
    padding:0.5% 10px

}

#buttons{
    position: relative;
    width: 50%;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
    top:150px;
    display:flex;
    justify-content: space-evenly;
}

#buttons button{
    width: 10%;
    height: 40px;
    border: none;
    border-radius: 5px;
    color:white;
    background-color: rgb(166, 218, 145);
    cursor: pointer;

}